# Developer tools' files
.lite_workspace.lua
.DS_Store

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js
neutralino.d.ts

# Neutralinojs related files
.storage
*.log
.tmp

